[Unit]
Description=executor server
Requires=executor-http.socket executor-dhcp.socket executor-tftp.socket salad.socket minio.socket
PartOf=infra.service

[Service]
User=executor
Group=executor
KillMode=process
TimeoutStartSec=0
EnvironmentFile=/etc/base_config.env
EnvironmentFile=-{{ config_env_file }}
EnvironmentFile=-{{ minio_env_file }}
ExecStartPre=+mkdir -pv /mnt/permanent/ /mnt/tmp/boots /mnt/tmp/executor/ /var/run/executor /etc/gitlab-runner/
ExecStartPre=+touch /mnt/permanent/mars_db.yaml /etc/gitlab-runner/config.toml
ExecStartPre=+chown -R executor:executor /var/run/executor /mnt/tmp/boots /mnt/tmp/executor/ /mnt/permanent/mars_db.yaml /etc/gitlab-runner/config.toml
ExecStart=executor
Restart=always
RestartSec=1s

[Install]
WantedBy=infra.service
