#!/bin/bash

set -e
set -u
set -o pipefail
set -x

# TODO: Make this a networking daemon that would react properly to interfaces being added/removed

[ -f "{{ config_env_file }}" ] && . "{{ config_env_file }}"

# Make sure the network config folder exists, and only root-accessible
mkdir -p "{{ network_config }}"
chmod 700 "{{ network_config }}"

# Setup the hostapd config file for the mgmt network if missing
if ! [ -f '{{ network_config }}/hostapd-mgmt.conf' ]; then
    cp /etc/hostapd.conf.defaults {{ network_config }}/hostapd-mgmt.conf
fi

find_nic --wait

# HACK: Give a little bit of time to QEmu to bring up the interface
sleep 1

cd /sys/class/net/
for nic in *; do
    ip link set $nic up
done

echo 1 > /proc/sys/net/ipv4/ip_forward

# Tag the "public" interface with the name public
# This option was prefered over renaming the interface to avoid
# cutting briefly the internet connection and
# making problems with other services such as backup
PUBLIC=`find_nic -r public`
ip link property add dev $PUBLIC altname public

while read NETWORK DEFAULT_IP NEEDS_DHCP; do
    net_addr_var="${NETWORK^^}_NETWORK_ADDR"
    bridge_ip="${!net_addr_var:-$DEFAULT_IP}"

    # create the bridge for the network
    ip link add $NETWORK type bridge
    ip addr add dev $NETWORK ${bridge_ip}/24
    ip link set $NETWORK up

    # Rename all the interfaces associated to the network, then attach them
    # to their related bridge
    i=0
    for nic in $(find_nic -r $NETWORK --mgmt-static-alloc "${NET_MGMT_STATIC_ALLOC:-}"); do
        nic_name=${NETWORK}if${i}
        ip link set $nic down || /bin/true
        ip link set $nic name $nic_name || /bin/true
        if [ -d "/sys/class/net/$nic_name/phy80211" ]; then
            hostapd -i $nic_name -B {{ network_config }}/hostapd-mgmt.conf || /bin/true
        else
            ip link set $nic_name master $NETWORK || /bin/true
        fi
        ip link set $nic_name up || /bin/true
        i=$((i+1))
    done

    # Add a DHCP server on the network, if asked to
    if [ "$NEEDS_DHCP" == yes ]; then
        # Reserve the first 127 IPs for static devices
        base_addr=$(echo "$bridge_ip" | cut -d . -f 1-3)
        dhcp_range_start=${base_addr}.128
        dhcp_range_stop=${base_addr}.254

        dnsmasq -i $NETWORK -z --port 0 --dhcp-range $dhcp_range_start,$dhcp_range_stop,30d --conf-file=/dev/null --dhcp-authoritative --dhcp-leasefile="{{ network_config }}/$NETWORK.leases"
    fi
done <<'EOD'
    mgmt {{ mgmt_bridge_ip }} yes
    private {{ private_interface_ip }} no
EOD

# name sure the hostname can resolve on the gateway
printf "127.0.0.1\t{{ hostname }}\n" >> /etc/hosts

# notify systemd that script is done
systemd-notify --ready

# HACK: workaround systemd failing to detect that some interfaces just appeared
systemctl daemon-reload

# Wait forever
sleep infinity
