[Unit]
Description={{ registry.name }} registry service
PartOf=infra.service

[Service]
User=registry
Group=registry
ExecStartPre=+mkdir -pv {{ registry.mount_point }}
ExecStartPre=+chown registry:registry {{ registries.base_mount }} {{ registry.mount_point }}
ExecStart=-/usr/local/bin/registry serve /etc/docker/registry/{{ registry.name }}_config.yml
Restart=always
RestartSec=1s

[Install]
WantedBy=infra.service
