#!/usr/bin/nft -f

# IPv4/IPv6 Simple & Safe firewall ruleset.
# More examples in /usr/share/nftables/ and /usr/share/doc/nftables/examples/.

flush ruleset

include "/etc/nftables.d/*.nft"
include "{{ app_config }}/nftables/*.nft"

# These rules should be the very last in their respective chains, so in order to insure that this
# is the case, they are added here after including any config above.
table inet filter {
    chain input {
        # log dropped connections (for debugging)
        log prefix "INPUT DROP: " flags all drop
    }
    chain output {
        # log dropped connections (for debugging)
        log prefix "OUTPUT DROP: " flags all drop
    }
    chain forward {
        # log dropped connections (for debugging)
        log prefix "FORWARD DROP: " flags all drop
    }
}
