[Unit]
Description=create {{ app_config }} and set permissions

[Service]
Type=oneshot
ExecStartPre=mkdir -p {{ app_config }}
ExecStartPre=chown root:user-cfg {{ app_config }}
ExecStart=chmod 770 {{ app_config }}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target