#!/bin/sh

set -eux

if ! hash mcli; then
echo "mcli not found, and is required"
exit 1
fi

get_cached_path_to_artifact() {
    local url="$1"
    local cache_path="$2/cache/$(echo -n $1 | sha256sum | tr -d ' -')"

    mcli stat "$cache_path" > /dev/null 2> /dev/null || {
        local_file=$(mktemp)
        curl -Lo "$local_file" "$url" >&2
        mcli cp "$local_file" "$cache_path" >&2
        rm "$local_file"
    }

    echo $cache_path
}

# Wait for the minio service to start
for try in $(seq 1 20); do
    if mcli alias set minio http://localhost:{{ minio_port }} "$MINIO_ROOT_USER" "$MINIO_ROOT_PASSWORD"; then
        break
    fi

    if [ "${try}" -eq 20 ]; then
        echo "failed waiting for minio server";
        exit 1
    fi

    printf "minio server not responding, try %s of 20...\n" "$try"
    sleep 1
done


# Set up the policies
{% for name, file_path in minio.policies.items() %}
mcli admin policy create minio "{{ name }}" "{{ file_path }}"
{% endfor %}


# Set up the users
declare -A groups
{% for name, cfg in minio.users.items() %}
if [ -n "{{ cfg.password }}" ]; then
    mcli admin user add minio "{{ name }}" "{{ cfg.password }}"

    # HACK: This command is not idempotent and will fail if the policy is already
    # attached... Let it fail, like they do upstream: https://github.com/minio/minio/issues/16897
    mcli admin policy attach minio "{{ cfg.policy }}" --user "{{ name }}" || /bin/true
{% for group in cfg.groups %}
    groups["{{ group }}"]="${groups['{{ group }}']:-} {{ name }}"
{% endfor %}
fi
{% endfor %}


# Set up the groups
{% for name, cfg in minio.groups.items() %}
if [ -n "${groups['{{ name }}']:-}" ]; then
    mcli admin group add minio "{{ name }}" ${groups['{{ name }}']}

    # HACK: This command is not idempotent and will fail if the policy is already
    # attached... Let it fail, like they do upstream: https://github.com/minio/minio/issues/16897
    mcli admin policy attach minio "{{ cfg.policy }}" --group "{{ name }}" || /bin/true
fi
{% endfor %}


# Reset the minio.env state
echo "MINIO_ROOT_PASSWORD=$MINIO_ROOT_PASSWORD" > {{ minio_env_file }}

{% for bucket, cfg in minio.buckets.items() %}

######### Setting up the {{ bucket }} bucket #########

    # Create the bucket, if missing
    bucket_mcli_path="minio/{{ bucket }}"
    mcli mb --ignore-existing $bucket_mcli_path

    # set bucket permission and validate that it was configured correctly
    # see: https://gitlab.freedesktop.org/mupuf/valve-infra/-/issues/125
    mcli anonymous set "{{ cfg.policy.anonymous }}" "$bucket_mcli_path"

    # grepping the permission from command output is not great, since mcli has
    # already changed output in the past, but until a better way is identified
    # this will have to do for now
    if ! mcli anonymous get "$bucket_mcli_path" | grep -q "{{ cfg.policy.anonymous }}"; then
        echo "ERROR: bucket '{{ bucket }}' does not appear to be '{{ cfg.policy.anonymous }}'!"
        exit 1
    fi

    # Populate the artifacts
    {% for artifact in cfg.populate | default([]) %}
        cached_path=$(get_cached_path_to_artifact "{{ artifact.url }}" "$bucket_mcli_path")
        {% for path in artifact.paths | default([]) %}
            mcli cp "$cached_path" "$bucket_mcli_path/{{ path['dst'] }}"
            {% for envvarname in path['envvars'] | default([]) %}
                echo "{{ envvarname }}=http://{{ hostname }}:{{ minio_port }}/{{ bucket }}/{{ path['dst'] }}" >> {{ minio_env_file }}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endfor %}
