[Unit]
Description=Minio
Documentation=https://docs.minio.io
Wants=network-online.target
Requires=minio_genpw.service minio.socket
After=network-online.target minio_genpw.service minio.socket
AssertFileIsExecutable=/usr/local/bin/minio
PartOf=infra.service

[Service]
# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

Type=simple
DynamicUser=No
User=minio
Group=minio

ExecStartPre=+mkdir -p {{ tmp_mount }}/minio
ExecStartPre=+chown -R minio:minio {{ tmp_mount }}/minio
ExecStartPre=+chmod -R u+rwx {{ tmp_mount }}/minio
ExecStartPre=+touch "{{ minio_env_file }}"
ExecStartPre=+chown minio:minio "{{ minio_env_file }}"

EnvironmentFile={{ base_config_env_file }}
EnvironmentFile=-{{ config_env_file }}
EnvironmentFile={{ minio_env_file }}

ExecStart=
ExecStart=-/usr/local/bin/minio server --address 127.0.0.1:9999 --console-address :{{ minio_console_port }} {{ tmp_mount }}/minio
ExecStartPost=/usr/local/bin/minio_configure

Restart=always
RestartSec=1s

# SIGTERM signal is used to stop Minio
KillSignal=SIGTERM
SendSIGKILL=no
SuccessExitStatus=0

[Install]
WantedBy=infra.service
