#!/bin/sh

set -eu

gen_pw() {
	var="$1"

	# do nothing if var is already set
	grep -q "^${var}=" "{{ minio_env_file }}" && return

	echo "generating $var..."

	# this doesn't require any additional dependencies:
	pass="$(tr -dc A-Za-z0-9 </dev/urandom | head -c 32)"

	printf "%s=%s\n" "$var" "$pass" >> "{{ minio_env_file }}"
}

touch "{{ minio_env_file }}"

# shellcheck disable=SC2043
for v in MINIO_ROOT_PASSWORD; do
	gen_pw "$v"
done
