#!/bin/sh

set -eu

[ -f {{ app_config }}/sshd.env ] && . {{ app_config }}/sshd.env

__ssh_insecure="${VALVE_INFRA_SSH_INSECURE:-false}"

if ! $__ssh_insecure; then
	# no further configuration needed in this case, since sshd_config is
	# already present in the image and configured for secure ssh authentication
	exit 0
fi

sed -i 's|^PermitRootLogin.*|PermitRootLogin yes|' /etc/ssh/sshd_config
sed -i 's|^PermitEmptyPasswords.*|PermitEmptyPasswords yes|' /etc/ssh/sshd_config
sed -i 's|^PasswordAuthentication.*|PasswordAuthentication yes|' /etc/ssh/sshd_config

# root password has to be "deleted" for ssh login w/ empty pass to work
# properly
passwd -d root

# add a warning that shows on login just in case this is unintentional
cat << EOF > /etc/profile.d/insecure-ssh-warning.sh
echo "################# WARNING ################"
echo "# SSH access is currently *INSECURE*!!!! #"
echo "##########################################"
EOF

chmod +x /etc/profile.d/insecure-ssh-warning.sh
