[Unit]
ConditionPathExists=
ConditionPathExists=|!{{ ssh_host_keys_path }}/ssh_host_ecdsa_key
ConditionPathExists=|!{{ ssh_host_keys_path }}/ssh_host_ecdsa_key.pub
ConditionPathExists=|!{{ ssh_host_keys_path }}/ssh_host_ed25519_key
ConditionPathExists=|!{{ ssh_host_keys_path }}/ssh_host_ed25519_key.pub
ConditionPathExists=|!{{ ssh_host_keys_path }}/ssh_host_rsa_key
ConditionPathExists=|!{{ ssh_host_keys_path }}/ssh_host_rsa_key.pub

[Service]
ExecStartPost=sh -c "mkdir -p '{{ ssh_host_keys_path }}' && mv /etc/ssh/ssh_host_* '{{ ssh_host_keys_path }}'"
